html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* Parameters
-----------------------------------------------------------------------------*/
/* Global
-----------------------------------------------------------------------------*/
body {
  font: 14px/18px Arial, sans-serif;
  width: 100%; }

.wrapper {
  width: 1000px;
  margin: 0 auto; }

/* Header
-----------------------------------------------------------------------------*/
.header {
  height: 74px;
  padding: 56px 20px 36px 21px; }

.logo {
  float: left; }

.header__content {
  float: right;
  margin-top: 14px;
  text-align: right;
  font-weight: bold;
  color: #005386; }
  .header__content .header__content--blue {
    color: #4ec1df; }
  .header__content a {
    color: #4ec1df;
    font-weight: normal; }

/* Middle
-----------------------------------------------------------------------------*/
.about {
  padding-top: 7px;
  padding-bottom: 42px; }

.about__header {
  padding-top: 22px;
  padding-bottom: 23px;
  border-bottom: 1px solid #4ec1df;
  text-align: center;
  color: #4ec1df;
  font-weight: bold;
  font-size: 18px; }

.about__content {
  padding: 25px 90px 0 90px; }

.business {
  display: block;
  background: #f6f6f6;
  width: 1000px;
  padding: 20px 0 20px 123px; }

.business-shadow {
  display: block;
  position: relative;
  top: 0;
  clear: both;
  width: 953px;
  height: 26px;
  top: 0;
  margin-left: 27px;
  background: url(../img/shadow.jpg); }

.arrows-sprite, .arrows-1, .arrows-2 {
  background-image: url('../img/arrows-sbbc451c79f.png');
  background-repeat: no-repeat; }

.arrows-1 {
  background-position: 0 0; }

.arrows-2 {
  background-position: 0 -21px; }

.arrows-1 {
  background-position: 0 0;
  display: block;
  width: 7px;
  height: 21px;
  position: absolute;
  margin-left: 42px; }

.arrows-2 {
  background-position: 0 -21px;
  display: block;
  width: 7px;
  height: 21px;
  position: absolute;
  margin-left: 42px; }

.business__content:nth-of-type(1) {
  display: inline-block;
  display: inline-block;
  border-bottom: 1px solid #003767;
  width: 767px;
  height: 115px; }
  .business__content:nth-of-type(1) .circle {
    margin-top: 13px;
    background: #003767;
    width: 72px;
    height: 72px;
    border: 8px solid #637fa7;
    color: white;
    font-weight: bold;
    text-align: center;
    -moz-border-radius: 72px;
    -webkit-border-radius: 72px;
    border-radius: 72px;
    float: left; }
    .business__content:nth-of-type(1) .circle .circle__text {
      margin-top: 19px;
      font-size: 11px; }
  .business__content:nth-of-type(1) .text {
    float: left;
    width: 620px;
    margin: 29px 0 29px 29px; }

.business__content:nth-of-type(2) {
  display: inline-block;
  display: inline-block;
  border-bottom: 1px solid #4ec1df;
  width: 767px;
  height: 115px; }
  .business__content:nth-of-type(2) .circle {
    margin-top: 13px;
    background: #4ec1df;
    width: 72px;
    height: 72px;
    border: 8px solid #8dd6ec;
    color: white;
    font-weight: bold;
    text-align: center;
    -moz-border-radius: 72px;
    -webkit-border-radius: 72px;
    border-radius: 72px;
    float: left; }
    .business__content:nth-of-type(2) .circle .circle__text {
      margin-top: 19px;
      font-size: 11px; }
  .business__content:nth-of-type(2) .text {
    float: left;
    width: 620px;
    margin: 29px 0 29px 29px; }

.business__content:nth-of-type(3) {
  display: inline-block;
  display: inline-block;
  border-bottom: 1px solid #ffc31b;
  width: 767px;
  height: 115px; }
  .business__content:nth-of-type(3) .circle {
    margin-top: 13px;
    background: #ffc31b;
    width: 72px;
    height: 72px;
    border: 8px solid #ffde96;
    color: white;
    font-weight: bold;
    text-align: center;
    -moz-border-radius: 72px;
    -webkit-border-radius: 72px;
    border-radius: 72px;
    float: left; }
    .business__content:nth-of-type(3) .circle .circle__text {
      margin-top: 19px;
      font-size: 11px; }
  .business__content:nth-of-type(3) .text {
    float: left;
    width: 620px;
    margin: 29px 0 29px 29px; }

/* Footer
-----------------------------------------------------------------------------*/
.footer {
  height: 100px; }
