@import "compass";
@include global-reset;

/* Parameters
-----------------------------------------------------------------------------*/
$clr1: #4ec1df; //blue
$clr2: #005386; //darkblue
$clr3: #ffc31b; //yellow
$clr4: #bebebe; //grey
$clr5: #363636; //dark gray
$clr6: #003767; //dark blue 2.0
$clr7: #ffcb2c; //orange

$font: Arial, sans-serif;

/* Global
-----------------------------------------------------------------------------*/
body {
	font: 14px/18px $font;
	width: 100%;
}
.wrapper {
	width: 1000px;
	margin: 0 auto;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 166px - 56px - 36px;
	padding: 56px 20px 36px 21px;
}

.logo{
	float: left;
}

.header__content{
	float: right;
	margin-top: 14px;
	text-align: right;
	font-weight: bold;
	color: $clr2;

	.header__content--blue{
		color: $clr1;
	}

	a{
		color: $clr1;
		font-weight: normal;
	}
}


/* Middle
-----------------------------------------------------------------------------*/
.slider{
	display: none;		//jquery on
	width: 1000px;
	height: 512px;
}

.slidesjs{
	width: 898px;
	height: 512px;
	float: right;


	.slidesjs-pagination {
		display: block;
		list-style: none;
		position: relative;
		top: -40px;
		left: (1000/2 - 24 - (1000-898)) + px;

		
		bottom: 0;
		z-index: 100;

		li {
			float: left;
			margin: 0 1px;

			a {
				display: block;
				height: 0;
				padding-top: 14px;
				width: 14px;
				@include border-radius(7px); // border radius
				@include background-clip(padding-box); // prevents bg color from leaking outside the border
				background-color: #878787; // layer fill content

				float: left;
				overflow: hidden;

				&.active{
					padding-top: 14px;
					@include border-radius(7px); // border radius
					@include background-clip(padding-box); // prevents bg color from leaking outside the border
					background-color: #ffc31b; // layer fill content
				}

				&:hover{
					background-position: 0 -26px
				}
			}
		}
	}
}

@for $i from 1 through 3{
	.slidesjs_slider__content#{$i}{   // T_T nth-of-type is not working in jquery
		display: none;
		width: 215px;
		position: absolute;
		font-weight: bold;
		font-size: 14px;
		color: white;
		z-index: 13;
	}
}


.jq{
	display: block;
}


.slidesjs_slider_wrapper{
	display: 	block;
	position: absolute;
	z-index: 12;
}



.about{
	padding-top: 7px;
	padding-bottom: 42px;
}

.about__header{
	padding-top: 22px;
	padding-bottom: 23px;

	border-bottom: 1px solid $clr1;

	text-align: center;
	color: $clr1;
	font-weight: bold;
	font-size: 18px;
}

.about__content{
	padding: 25px 90px 0 90px;
	padding: 20px 0;

}

.business{
	background: #f6f6f6;
	width: 1000px;
	padding-bottom: 38px;
	padding-top: 34px - 13px;
}

.business-shadow{
	display: block;
	position: relative;
	top: 0;
	clear: both;
	width:  953px;
	height:26px;
	top:0;
	margin-left: 27px;
	background: url(../img/shadow.jpg);
}

$arrows-layout: horizontal;
@import "arrows/*.png";
// @include all-arrows-sprites;


@for $i from 1 through 2{
	.arrows-#{$i}{
		@include arrows-sprite($i);
		display: block;
		width: 7px;
		height: 21px;
		position: absolute;
		margin-left: 41px;
	}	
}

@each $number, $colour, $border in 	(1, $clr6, #637fa7),
									(2, $clr1, #8dd6ec),
									(3, $clr3, #ffde96){
	.business__content:nth-of-type(#{$number}){
		// outline: 1px solid red;     /* magic 1px border ??
		margin-left: 123px;
		display: inline-block;
		
		border-bottom: 1px solid $colour;
		width: 767px;
		padding-bottom: 13px;


		.circle{
			margin-top: 13px;
			background: $colour;
			width: 72px;
			height: 72px;
			border: 8px solid $border;
			color: white;
			font-weight: bold;
			text-align: center;
			@include border-radius(72px);
			float: left;

			.circle__text{
				margin-top: 19px;
				font-size: 11px;
			}

		}

		.text{
			float: left;
			width: 650px;
			margin: 29px 0 0 29px;
		}

		.text_block{
			word-wrap: break-word;
			width: 195px;
			margin-right: 20px;
			float: left;

			header{
				font-size: 14px;
				font-weight: bold;
				color: $colour;
				margin-bottom: 15px;
			}
		}
	}
}

.business__content:last-of-type{
	border-bottom: none;
}

.to-top{
	position: fixed;
	bottom: 0;
	right: 80px;
	width: 60px;
	height: 68px;
	@include border-radius(1px);
	background: $clr7;
	text-align: center;
	color: white;
	display:none;
	z-index: 100;

	&:hover{
		cursor: pointer;
	}

	.arrow{
		display: block;
		width: 24px;
		height: 33px;
		margin: 8px auto;
		background: url(../img/arrow.jpg) $clr7 center center no-repeat;
	}
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
}

@each $i, $img in 	(1, safety), 
					(2, peoples), 
					(3, ethic), 
					(4, education){
	.pluses:nth-of-type(#{$i}){
		width: 230px;
		margin: 0 10px;
		float: left;
		text-align: center;
		font-size: 12px;
		padding-top: 36px;
		padding-bottom: 160px;
		text-decoration: underline dashed;

		.clouds{
			margin: 0 auto;
			width: 114px;
			height: 95px;
			background: url(../img/clouds/#{$img}.jpg) white center center no-repeat;
		}
	}
}


.pluses__header{
	margin-top: 38px;
	color: $clr2;
}

.pluses__text{
	color: #5b5b5b;
}