@import "compass";
/* Global reset
-----------------------------------------------------------------------------*/
@include global-reset;
$legacy-support-for-ie8: true;

/* Parameters
-----------------------------------------------------------------------------*/
$clr1: #4ec1df; //blue
$clr2: #005386; //darkblue
$clr3: #ffc31b; //yellow
$clr4: #bebebe; //grey
$clr5: #363636; //dark gray
$clr6: #003767; //dark blue 2.0
$clr7: #ffcb2c; //orange

$font: Arial, sans-serif;

/* Global
-----------------------------------------------------------------------------*/
body {
	font: 14px/18px $font;
	width: 100%;
}
.wrapper {
	width: 1000px;
	margin: 0 auto;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 166px - 56px - 36px;
	padding: 56px 20px 36px 21px;
}

.logo{
	@include float(left);
}

.header__content{
	@include float(right);
	margin-top: 14px;
	text-align: right;
	font-weight: bold;
	color: $clr2;

	.header__content--blue{
		color: $clr1;
	}

	a{
		color: $clr1;
		font-weight: normal;
	}
}


/* Middle
-----------------------------------------------------------------------------*/
.slider{
	display: none;		//jquery on
	width: 1000px;
	height: 512px;
	clear: both;
}

.slidesjs{
	width: 898px;
	height: 512px;
	@include float(right);


	.slidesjs-pagination {
		display: block;
		list-style: none;
		position: relative;
		top: -40px;
		left: (1000/2 - 24 - (1000-898)) + px;

		
		bottom: 0;
		z-index: 100;

		li {
			@include float(left);
			margin: 0 1px;

			a {
				display: block;
				height: 0;
				padding-top: 14px;
				width: 14px;
				@include border-radius(7px);
				@include background-clip(padding-box);
				behavior: url(css/PIE.htc);
				position: relative;
	    		zoom: 1;
				background-color: #878787;

				@include float(left);
				overflow: hidden;

				&.active{
					padding-top: 14px;
					@include border-radius(7px);
					@include background-clip(padding-box);
					behavior: url(css/PIE.htc);
					position: relative;
		    		zoom: 1;
					background-color: #ffc31b;
				}

			}
		}
	}
}

// T_T nth-of-type is not working in jquery and fucking ie8
@for $i from 1 through 3{
	.slidesjs_slider__content#{$i}{
		display: none;
		width: 215px;
		position: absolute;
		font-weight: bold;
		font-size: 14px;
		color: white;
		z-index: 13;
		margin-left: 27px;
		margin-top: 390px;
	}
}


.jq{
	display: block;
}


.slidesjs_slider_wrapper{
	display: 	none;
	position: absolute;
	z-index: 12;
}



.about{
	padding-top: 7px;
	padding-bottom: 42px;
	clear: both;
}

.about__header{
	padding-top: 22px;
	padding-bottom: 23px;

	border-bottom: 1px solid $clr1;

	text-align: center;
	color: $clr1;
	font-weight: bold;
	font-size: 18px;
}

.about__content{
	padding: 25px 90px 0 90px;
	padding: 20px 0;
	color: $clr2;
	width: 755px;
	margin-left: 156px;

	div::before{

		content: "";
		display: block;
		margin: 5px 0 0 -23px;
		@include float(left);
		width: 6px;
		height: 6px;
		@include border-radius(3px);
		@include background-clip(padding-box);
		behavior: url(css/PIE.htc);
		position: relative;
		zoom:1;

		background-color: #4dc1df;

	}

	b{
		font-weight: bold;
	}



}

.business{
	background: #f6f6f6;
	width: 1000px;
	padding-bottom: 38px;
	padding-top: 34 - 13 + px;
	clear: both;
}

@each $number, $colour, $border in 	(1, $clr6, #637fa7),
									(2, $clr1, #8dd6ec),
									(3, $clr3, #ffde96){
	.business__content#{$number}{
		// outline: 1px solid red;     /* magic 1px border ??
		margin-left: 123px;
		display: inline-block;
		position: relative;
		
		border-bottom: 1px solid $colour;
		width: 767px;
		padding-bottom: 13px;
		color: $colour;


		.circle{
			margin-top: 13px;
			
			width: 72px;
			height: 72px;
			border: 8px solid $border;
			color: white;
			font-weight: bold;
			text-align: center;
			
			@include border-radius(72px);
			behavior: url(css/PIE.htc);
			position: relative;
    		zoom: 1;
			@include float(left);
			background: $colour;

			.circle__text{
				margin-top: 19px;
				font-size: 11px;
			}

		}

		.text{
			@include float(left);
			width: 650px;
			margin: 29px 0 0 29px;
		}

		.text_block{
			word-wrap: break-word;
			width: 195px;
			margin-right: 20px;
			@include float(left);
			color: $clr5;
			font-size: 12px;

			h3{
				font-size: 14px;
				font-weight: bold;
				color: $colour;
				margin-bottom: 15px;
			}
		}
	}
}

.business__content3{
	border-bottom: none;
}

$arrows-layout: horizontal;
@import "arrows/*.png";

@for $i from 1 through 2{
	.arrows-#{$i}{
		@include arrows-sprite($i);
		display: block;
		width: 7px;
		height: 21px;
		position: absolute;
		margin-left: 41px;
		z-index: 2;
	}	
}

.business-shadow{
	display: block;
	position: relative;
	top: 0;
	clear: both;
	width:  953px;
	height:26px;
	top:0;
	margin-left: 27px;	
	@include background(image-url("../img/shadow.jpg"));
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	clear: both;
	width: 1000px;
	text-align: center;
}

.data-title{
	display: none;
}

@import "clouds/*.png";

@each $i, $img in 	(1, safety), 
					(2, peoples), 
					(3, ethic), 
					(4, education){
	.pluses#{$i}{
		position: relative;
		width: 250px;
		font-size: 12px;
		padding-top: 36px;
		padding-bottom: 160px;
		@include float(left);

		.clouds{
			margin: 0 auto;
			width: 114px;
			height: 95px;
		  	@include clouds-sprite(#{$img});
		}

		.popup{
			display: none;
			position: absolute;
			width: 487px;
			height: 70px;
			padding: 24px 38px;
		    
		    background: $clr1;
		    text-align: left;
		    font-size: 12px;
		    color: white;
		    @include box-shadow(rgba(84,84,84,1) 0px 3px 4px 0px);
		    top: -70px;

		    z-index: 1;
		    @if $i == 2{
		    	left: -110px;
		    }
		    @else if $i ==3{
		    	left: -190px;
		    }
		    @else if $i == 4{
		    	left: -320px;
		    }
		}

		&:hover .popup{
			display: block;
		}
	}
}

.pluses__content{
	margin-top: 38px;
	text-align: center;
}

.pluses__header{
	display: block;
	text-decoration: underline dashed $clr2;
	color: $clr2;
}

.pluses__text{
	display: block;
	color: $clr5;
	text-decoration: underline dashed $clr5;
}

/* Scroller
-----------------------------------------------------------------------------*/

.to-top{
	position: fixed;
	bottom: 0;
	right: 80px;
	width: 60px;
	height: 68px;
	@include border-radius(1px);
	background: $clr7;
	text-align: center;
	color: white;
	display:none;
	z-index: 100;

	&:hover{
		cursor: pointer;
	}

	.arrow{
		display: block;
		width: 24px;
		height: 33px;
		margin: 8px auto;
		@include background(image-url("../img/arrow.jpg"));
	}
}